## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, RNN, SimpleRNN

## Parameters

In [21]:
train_test_rate = 0.2
n_timestep = 3
n_feature = 6

## Load Dataset

In [2]:
dataset = pd.read_csv('processed_data/dataset.csv', index_col='date', parse_dates=True)
unnoise_dataset = pd.read_csv('processed_data/unnoise_dataset.csv', index_col='date', parse_dates=True)

In [3]:
dataset.head()

             Ttb    Tx    Tn    R   Utb    Un
date
2015-01-01  14.7  25.3   9.3  0.0  75.0  33.0
2015-01-02  13.9  23.5   7.5  0.0  75.8  37.0
2015-01-03  14.1  21.0   9.5  0.0  83.5  54.0
2015-01-04  16.5  18.8  14.6  0.0  88.3  83.0
2015-01-05  19.0  22.6  16.5  1.0  87.0  72.0

In [4]:
unnoise_dataset.head()

             Ttb    Tx    Tn    R   Utb    Un
date
2015-01-01  13.9  23.5   7.5  0.0  75.0  33.0
2015-01-02  14.1  23.5   9.3  0.0  75.8  37.0
2015-01-03  14.1  21.0   9.5  0.0  83.5  54.0
2015-01-04  16.5  21.0  14.6  0.0  87.0  72.0
2015-01-05  19.0  22.6  16.5  1.0  88.3  72.0

## Generate Dataset

### Scaling

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
scaler = MinMaxScaler()
scaled_unnoise_dataset = scaler.fit_transform(unnoise_dataset)

In [12]:
scaled_unnoise_dataset[:5]

array([[0.28979592, 0.49484536, 0.14893617, 0.        , 0.51546392,
        0.09722222],
       [0.29795918, 0.49484536, 0.22553191, 0.        , 0.53195876,
        0.15277778],
       [0.29795918, 0.40893471, 0.23404255, 0.        , 0.69072165,
        0.38888889],
       [0.39591837, 0.40893471, 0.45106383, 0.        , 0.7628866 ,
        0.63888889],
       [0.49795918, 0.46391753, 0.53191489, 1.        , 0.78969072,
        0.63888889]])

### Train-test split

In [13]:
def train_test_split(data, rate=0.3):
    idx = int((1 - rate)*len(data))
    return np.array(data[:idx]), np.array(data[idx:])

In [15]:
train_set, test_set = train_test_split(data=scaled_unnoise_dataset, rate=train_test_rate)

In [16]:
train_set.shape, test_set.shape

((1753, 6), (439, 6))

### Timestep split

def timestep_split(data, n_step):
    X, y = [], []
    
    length = len(data)
    for i in range(length - n_step):
        end_idx = i + n_step
        seq_X = data[i:end_idx]
        seq_y = data[end_idx]
        X.append(seq_X)
        y.append(seq_y)
    
    return np.array(X), np.array(y)

In [19]:
X_train, y_train = timestep_split(data=train_set, n_step=n_timestep)
X_test, y_test = timestep_split(data=test_set, n_step=n_timestep)

In [20]:
X_train.shape

(1750, 3, 6)

## Build model

In [23]:
model = Sequential()
model.add(SimpleRNN(units=128, activation='relu', input_shape=(n_timestep, n_feature), return_sequences=True))
model.add(SimpleRNN(units=128, activation='relu'))
model.add(Dense(units=6, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_2 (SimpleRNN)    (None, 3, 128)            17280

 simple_rnn_3 (SimpleRNN)    (None, 128)               32896

 dense_1 (Dense)             (None, 6)                 774

=================================================================
Total params: 50,950
Trainable params: 50,950
Non-trainable params: 0
_________________________________________________________________

## Train