In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras

# Load Dataset

In [42]:
dataset = pd.read_csv('data\weather_dataset.csv', index_col='date', parse_dates=True)

In [70]:
dataset.head()

             Ttb    Tx    Tn    R   Utb    Un  wind
date
2015-01-01  14.7  25.3   9.3  0.0  75.0  33.0   2.0
2015-01-02  13.9  23.5   7.5  0.0  75.8  37.0   4.0
2015-01-03  14.1  21.0   9.5  0.0  83.5  54.0   4.0
2015-01-04  16.5  18.8  14.6  0.0  88.3  83.0   2.0
2015-01-05  19.0  22.6  16.5  0.0  87.0  72.0   2.0

In [71]:
dataset.tail()

             Ttb    Tx    Tn    R   Utb    Un  wind
date
2020-12-27  20.3  24.8  17.3  0.0  83.0  67.0   0.0
2020-12-28  20.7  23.6  18.8  0.0  88.0  77.0   1.0
2020-12-29  21.4  25.8  19.9  0.0  86.0  74.0   2.0
2020-12-30  17.5  20.9  16.2  0.0  50.0  42.0   6.0
2020-12-31  13.6  19.0  12.1  0.0  57.0  41.0   6.0

# Data Preprocessing

In [43]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2192 entries, 2015-01-01 to 2020-12-31
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ttb     2192 non-null   float64
 1   Tx      2192 non-null   float64
 2   Tn      2192 non-null   float64
 3   R       988 non-null    float64
 4   Utb     2192 non-null   float64
 5   Un      2192 non-null   float64
 6   wind    1764 non-null   float64
dtypes: float64(7)
memory usage: 137.0 KB

In [73]:
dataset.isna().sum()

Ttb     0
Tx      0
Tn      0
R       0
Utb     0
Un      0
wind    0
dtype: int64

In [44]:
dataset['R'] = dataset['R'].fillna(0.0)
dataset['wind'] = dataset['wind'].fillna(0.0)

In [45]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2192 entries, 2015-01-01 to 2020-12-31
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ttb     2192 non-null   float64
 1   Tx      2192 non-null   float64
 2   Tn      2192 non-null   float64
 3   R       2192 non-null   float64
 4   Utb     2192 non-null   float64
 5   Un      2192 non-null   float64
 6   wind    2192 non-null   float64
dtypes: float64(7)
memory usage: 137.0 KB

# Splitting Dataset

In [48]:
from keras.preprocessing.sequence import TimeseriesGenerator

In [66]:

data_train = dataset[:2030].values.reshape((len(dataset[:2030]), len(dataset.columns)))
data_test = dataset[2000:].values.reshape((len(dataset[2000:]), len(dataset.columns)))

n_input = 30
generator_train = TimeseriesGenerator(data=data_train, targets=data_train, length=n_input, batch_size=1)
generator_test = TimeseriesGenerator(data=data_test, targets=data_test, length=n_input, batch_size=1)

print(len(generator_train), len(generator_test))

2000 162

In [54]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import RepeatVector
from keras.layers import TimeDistributed

In [68]:
n_features = 7
model = Sequential()
model.add(LSTM(units=50, activation='tanh', input_shape=(n_input, n_features)))
model.add(RepeatVector(1))
model.add(LSTM(units=50, activation='tanh', return_sequences=True))
model.add(TimeDistributed(Dense(7)))
model.compile(optimizer='adam', loss='mse')
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_6 (LSTM)               (None, 50)                11600

 repeat_vector_2 (RepeatVect  (None, 1, 50)            0
 or)

 lstm_7 (LSTM)               (None, 1, 50)             20200

 time_distributed_2 (TimeDis  (None, 1, 7)             357
 tributed)

=================================================================
Total params: 32,157
Trainable params: 32,157
Non-trainable params: 0
_________________________________________________________________

In [69]:
model.fit(generator_train, epochs = 10, verbose =1)

Epoch 1/10
2000/2000 [==============================] - 19s 8ms/step - loss: 79.9203
Epoch 2/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.3650
Epoch 3/10
2000/2000 [==============================] - 17s 8ms/step - loss: 66.4063
Epoch 4/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.3968
Epoch 5/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.4130
Epoch 6/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.2130
Epoch 7/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.4050
Epoch 8/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.2720
Epoch 9/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.2469
Epoch 10/10
2000/2000 [==============================] - 16s 8ms/step - loss: 66.3859